%h1Вопросы и ответы
%br

- @questions.each do |question|
  .row
    %h2= link_to question.title, question_path(question)
    - if current_user && current_user.author_of?(question)
      %p= link_to "Edit",edit_question_path(question)
.row
  %br
  %br
  = link_to "Ask question", new_question_path, type: "button", class: "btn btn-lg btn-primary"
